// font families
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

// components
@import '@styles/carousalSection.scss';
@import '@styles/header.scss';
@import '@styles/drawer.scss';
@import '@styles/carousel.scss';

// pages
@import '@styles/movieDetails.scss';

* {
  background-color: white;
  user-select: none;

  h1 {
    margin: 0;
  }
}
