.drawer {
  position: absolute;
  top: 60px;
  right: 0;
  width: 350px;
  height: 320px;
  overflow-y: scroll;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;

  .drawer-container {
    padding: 10px;
    ul {
      padding: 0;
    }
    h3 {
      margin: 10px;
    }
  }
}

.wish-list {
  list-style: none;
  display: flex;
  padding: 6px;
  margin: 5px;

  p {
    margin: 0 16px;
    max-width: calc(100% - 130px);
  }
  img {
    height: 100px;
    width: 100px;
  }
  i {
    position: absolute;
    right: 16px;
  }
}
