.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0 16px;

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    text-align: center;
  }

  h1 {
    font-size: 28px;
  }
}

.wishlist-button {
  padding-right: 30px;
  span {
    display: block;
  }
}
