@import "./components/CarousalSection/CarousalSection.scss";
@import "./components/MovieDetails/MovieDetails.scss";
@import './components/Header/Header.scss';
@import './components/Drawer/Drawer.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

$background-colour: #eaebea;
$text-colour: #0c0c0c;
$secondary-colour: #d8323c;

*{
    background-color: $background-colour;
    font-family: 'Inter', sans-serif;
}

.heading{
    display: flex;
    justify-content: center;
    padding: 5px;
    color: $secondary-colour;
    font-size: 50px;
}